body {
  background-color:Khaki;
}
.menu {
  background-color:LightYellow;
  border:3px solid SaddleBrown;
  display:table;
  height:auto;
}
ul.menu, ul.menu li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}
ul.menu li a {
  background-color:buttonface;
  border:3px outset buttonshadow;
  display:block;
  font-size:x-large;
  margin:0.5em;
  padding:1em;
  text-decoration:none;
  width:12em;
}
