body {
  background-color:transparent;
  color:VioletRed;
}
.menu {
  background-color:LightYellow;
  display:table;
  height:auto;
}
ul.menu, ul.menu li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:1em;
  padding:0;
  border:2px double SaddleBrown;
}
ul.menu li a {
  background-color:buttonface;
  border:3px outset buttonshadow;
  display:block;
  font-size:x-large;
  margin:0;
  padding:0.7em;
  text-decoration:none;
  width:10em;
}
