<ul class="menu">
  <li><%=link_to "First Time Visitors", visit_path(:first) %></li>
  <li><%=link_to "Returning Visitors", visit_path(:returning) %></li>
  <li><%=link_to "Visitors Signing Off", visit_path(:signoff) %></li>
</ul>
